/*CSS global - afeta todas as páginas, mas se houver um CSS mais interno com uma alteração específica o CSS global não interfere */
* { 
    margin: 0;
    padding: 0;
    font-family: Helvetica;
} /*todos os elementos*/
a {
    color: orange;
}/*um elemento HTML tipo link*/
body {
    padding-bottom: 500px;
}
.class {
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}